body{
    background: no-repeat url(../images/wall.jpg) top center / cover;
    overflow: hidden;
    padding-top: 40px;
    text-align: center;
}

button{
    cursor: pointer;
}

.doorway{
    width: 380px;
    height: 640px;
    background-color: #ff8b5a;
    /* background: no-repeat  url(../images/palace.jpg) bottom center / cover  ; */
    position: relative;
    margin: auto;
    border: 35px ridge #ff8b5a;
    border-bottom: none;
    box-shadow: inset 0 0 6px 2px #343434;
}

.door{
    width: 380px;
    height: 640px;
    background-color: rgb(63, 39, 2);
    position: absolute;
    transition: all 2s linear;
    transform-origin: right;
    padding-top: 50px;
    z-index: 2;
}

.door-open{
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
}

.keyboard{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: auto;
    padding: 10px 0;
}

.button{
    width: 80px;
    height: 80px;
    margin: 5px;
    background-color: #824a4a;
    border: 1px solid white;
    border-radius: 5px;
    color: #04ff00;
}

.keyboard h2{
    font-size: 35px;
    margin: 7px;
}
.keyboard span{
    font-size: 15px;
    text-transform: uppercase;
}

.active{
    background-color: #fd3b3b;
}

.invisible{
    visibility: hidden;
}

.close-door{
    position: absolute;
    display: block;
    top: 20px;
    left: 37%;
    font-size: 18px;
    padding: 5px 7px;
    background-color: #a0ff8c;
    border-color: #000000;
    border-radius: 5px;
}

.close-door:hover{
    background-color: #73fd57;
}

.form{
    width: 100%;
    position: absolute;
    top: 150px;
    z-index: 1;
    visibility: hidden;
}

.form input, .form label, .form button{
    display: block;
    margin: 15px auto;
    width: 180px;
    padding: 5px;
    border-radius: 5px;
}

.form label {
    font-size: 20px;
    width: 250px;
}

.form button {
    background-color: #ffbd36;
    border-color: #ffd945;
}